name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Version information
      run: rustc --version; cargo --version
    - name: Get required packages
      run: sudo apt-get install libsensors-dev libssl-dev
    - uses: actions/checkout@v2
    - name: Check formatting
      run: cargo fmt -- --check
    - name: Clippy lints
      run: cargo clippy --all-features --all-targets
    - name: Build all features (release)
      run: cargo build --all-features --all-targets --verbose --release
    - name: Run tests
      run: cargo test --all-features --all-targets --verbose
